{% extends "apis.html" %}
{% block content %}
    <div class="card text-white bg-secondary mb-3">
        <div class="card-header"><strong>Service Credential</strong></div>
        <div class="card-body">
            <div class="form-group">
			
			<!-- 실제 사용 
                <div class="form-element">
                    <label class="col-form-label" for="inputDefault">Username</label>
                    <input id="assistUsername"type="text" class="form-control" placeholder="Username" id="inputDefault">
                </div>
                <div class="form-element">
                    <label class="col-form-label" for="inputDefault">Password</label>
                    <input id="assistPass" type="password" class="form-control" placeholder="Password">
                </div>
                <div class="form-element">
                    <label class="col-form-label" for="inputDefault">Workspace ID</label>
                    <input id="workspaceId" type="text" class="form-control" placeholder="Workspace ID">
                </div>
			-->
			<!-- Test 용 -->
				<div class="form-element">
                    <label class="col-form-label" for="inputDefault">Username</label>
                    <input id="assistUsername"type="text" class="form-control" placeholder="Username" id="inputDefault" value="2f27a362-a5da-4f9a-9877-7fdfb77b7942">
                </div>
                <div class="form-element">
                    <label class="col-form-label" for="inputDefault">Password</label>
                    <input id="assistPass" type="password" class="form-control" placeholder="Password" value="22jeKRq4lkV1">
                </div>
                <div class="form-element">
                    <label class="col-form-label" for="inputDefault">Workspace ID</label>
                    <input id="workspaceId" type="text" class="form-control" placeholder="Workspace ID" value="66a052f0-cc1b-492b-9b05-4a84b0b10fc8">
                </div>
				
            </div>
            <button id="sc-request" type="button" class="btn btn-secondary">인증 요청</button>
        </div>
    </div>
	<span class="chatbot-wrapper">
		<div class="chatbot-inner">
			<div class="chat-title">
				<p class="chat-title-text"><b>AIBRIL</b> Assistant</p>
			</div>
			<div class="chat-body">
				<div id="chat-talk-Area">
				</div>
			</div>
			<div class="chat-input">
				<input type="text" placeholder="질문을 입력하세요" id="input_message">
			</div>
		</div>	
		
	</span>
{% endblock %}	

{% block script %}
	<script>
	$("#sc-request").click(function(){
	

		username = $("#assistUsername").val();
		password = $("#assistPass").val();
		workspaceId = $("#workspaceId").val();
		
		$.ajax({
			url: "assistant/InitService",
			type: 'POST',
			data: {
				"username":username,
				"password":password,
				"workspaceId":workspaceId
			},
			dataType: 'html',
			success : function(data) {
				alert('Success : '+data);
			},
			error: function(xhr){
				var err = JSON.parse(xhr.responseText);
				alert('Error : ' + err.Message);
			}
		});
		

	});
	</script>

{% endblock %}
