/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
	margin-bottom: 0;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.bg-light {
    background: none !important;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 20px 0;
}

i,
span {
    display: inline-block;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #2e353d;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

#sidebar.active .sidebar-header h3,
#sidebar.active .CTAs,
#sidebar.active .sidebar-header h5 {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #2e353d;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #2e353d;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #4f5b69;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #495057;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 10px;
    min-height: 100vh;
    transition: all 0.3s;
}

#content .apis_content {
    margin: 10px;
    min-height: 620px;
    width: 100%;
	display: flex;
}


#content .form-group {
    margin-bottom: 0px;
}

/*--
card wrapper
--*/
#content .mb-3 {
    max-width: 25rem;
	max-height: 15rem;
}

#content .card-body {
    padding: 10px 25px 10px 10px;
}

#content .card-body .form-group:nth-child(1) {
    padding-top: 5px;
    min-width: 120px;
}

#content .form-element {
    display:flex;
    align-items: center;
    padding: 0 0 10px 0px;
}

#content .card-body .form-group .form-element .col-form-label {
    padding-bottom: calc(0.1rem +1px);
    min-width: 120px;
}

#sc-request{
    float:right;
}

/* ---------------------------------------------------
    CONTENT STYLE - chatbot-wrapper
----------------------------------------------------- */

.chatbot-wrapper {
	margin-left: 80px;
	margin-right: 50px;
	float:right;
	width: 50%;
	height: 700px;
}

.chatbot-inner {
	max-width: 450px;
	height: calc( 100% - 28px );
	position: relative;
	border-radius: 8px;
	z-index:2;
	box-shadow: 10px 10px 20px grey;
	
}
.chat-title {
	background-color: #404040;
	border-radius: 8px 8px 0 0;
	height: 60px;
}

.chat-title-text {
	color: #fff;
	padding: 20px 0 0 20px;
}

.chat-body-disabled {
	background-color: rgba(0,0,0,0.1);
	height: 560px;
}

.chat-body {
	background-color: #ecf0f1;
	height: 560px;
	overflow-y: auto;
	padding-top: 10px;
}

.chat-user-log {
	max-width: 200px;
	list-style-type: none;
	margin: 3px 5px 3px 3px;
	padding: 8px 20px;
	clear: both;
	border-radius: 10px 10px 2px 2px ;
	background: rgba(52, 152, 219, 0.39);
	color: #3e3838;
	float: right;
	border-bottom-left-radius: 10px;
}

.chat-bot-log {
	max-width: 200px;
	list-style-type: none;
	margin: 3px 5px 3px 3px;
	padding: 8px 20px;
	clear: both;
	border-radius: 10px 10px 2px 2px ;
	background: rgba(52, 152, 219, 0.39);
	color: #3e3838;
	float: left;
	border-bottom-right-radius: 10px;
}

.chat-user-log p {
	font-family: 'Nanum Gothic', sans-serif;
}

.chat-bot-log p {
	font-family: 'Nanum Gothic', sans-serif;
}

.chat-input-disabled {
	background-color: #ecf0f1;
}

.chat-input-enabled {
	background-color: #fff;
}

#input_message {
	width: calc( 100% - 45px );
	height: 48px;
	border: none;
	display: inline-block;
}

#enter-button {
	background: rgba(243,156,18,0.5) url(../img/ico_enter.png) no-repeat 7px 7px;
    background-size: auto 23px;
	border-radius: 50%;
	width:40px;
	height:40px;
	float:right;
	margin: 3px 3px 0 0;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }
    .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar.active {
        margin-left: 0 !important;
    }
    #sidebar .sidebar-header h3,
    #sidebar .CTAs {
        display: none;
    }
    #sidebar .sidebar-header strong {
        display: block;
    }
    #sidebar ul li a {
        padding: 20px 10px;
    }
    #sidebar ul li a span {
        font-size: 0.85em;
    }
    #sidebar ul li a i {
        margin-right: 0;
        display: block;
    }
    #sidebar ul ul a {
        padding: 10px !important;
    }
    #sidebar ul li a i {
        font-size: 1.3em;
    }
    #sidebar {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}