{% extends "apis.html" %}
{% block content %}
    <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
      <div class="card-header">Service Credential</div>
      <div class="card-body">
            <div class="form-group">
                <div class="form_element">
                    <label class="col-form-label" for="inputDefault">Service Credential</label>
                    <input type="text" class="form-control" placeholder="Default input" id="inputDefault">
                </div>
            </div>
      </div>
    </div>

{% endblock %}
